{% extends "account/base.html" %}

{% block content %}
    <form method="post" action="{% url 'account_logout' %}" id="form">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
    </form>

    <script type="application/javascript">
        // Submit the form on load automatically.
        $(() => {
            $("#form").submit();
        });
    </script>
{% endblock %}

